.jumbotron{
  background-image: url(../img/img.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 0;
}
.btn{
  border-radius: 0;
}
.social a[href='http://facebook.com.br']{
  background: url(../img/facebook.png);
  background-size: 36px 36px;
}
.social a[href='http://twitter.com']{
  background: url(../img/twitter.png);
  background-size: 36px 36px;
}
.social a[href='http://instagram.com']{
  background: url(../img/instagram.png);
  background-size: 36px 36px;
}
.social a {
  display: block;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
}
.social li {
  display: inline-block;
  margin-left: 1em;
}
